header{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    .bg-body-tertiary{
        height: 70px;
        background-color: $color-bg-1 !important;
        .container-fluid{
            @include styleTitle;
            .navbar-toggler{
                background-color: $color-bg-4 !important;
            }
        }
    }
}
main{
    .header{
        height: 70px;
    }
}