// tham số
@mixin styleTitle(){
    .navbar-brand{
        text-transform: uppercase;
        color: white;
        font-size: $fs-5;
        font-weight: $fw-3;
        .firstText{
            font-size: $fs-7;
            color: $color-title-1;
        }
    }
}